@model ClientManagement.Web.Models.EmployeeProject
@{
    ViewBag.Title = "Remove Project From Employee";
}
<div class="row">
    <h2 class="text-center">Remove Project From @ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-6 col-md-offset-3">
            <hr />
            <div class="form-group">
                @Html.Label("Project Title", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="text" name="EmployeeId" value="@ViewBag.employee.Id" hidden />
        
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Remove" class="btn btn-danger btn-block" />
            </div>
        </div>
        <hr />
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>