@model IEnumerable<ClientManagement.Core.Models.Project>
@{
    ViewBag.Title = "Remove Project From Employee";
}
<div class="row">
    <h2 class="text-center text-capitalize">Remove A Project From @ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-6 col-md-offset-3">
            <hr />
            <div class="form-group">
                @Html.Label("Project Title", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" name="ProjectId" id="ProjectId">
                        <option selected="selected">----------</option>
                        @foreach (var project in ViewBag.Projects)
                        {
                            <option value="@project.Id">@project.Title</option>
                        }
                    </select>
                </div>
            </div>

            <input type="text" name="EmployeeId" value="@ViewBag.employee.Id" hidden />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Remove" class="btn btn-danger btn-block" />
                </div>
            </div>
            <hr />
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>