@model IEnumerable<ClientManagement.Core.Models.Project>

@{
    ViewBag.Title = "ClientProjects";
}

<p>
    <h2>
        List of Projects For @ViewBag.ClientName
    </h2>
</p>
<table class="table table-striped table-responsive table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
        </tr>
    }

</table>
<div>
    <p>
        @Html.ActionLink("Back To Client Lists", "Index", "Client");
    </p>
