@model IEnumerable<ClientManagement.Core.Models.Client>

@{
    ViewBag.Title = "Client List";
}

<h2>List Of All Clients</h2>

<p>
    @Html.ActionLink("Create New Client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayName("Projects")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.ListBox("Id", new SelectList(item.Projects, "Id", "Title"))
        </td>
        <td>
            @Html.ActionLink("Edit", "../Project/Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "../Project/Details", new { id=item.Id }) |
            @Html.ActionLink("View Projects", "ClientProjects", new { id= item.Id}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
